<div class="side-nav">
	<div class="side-nav-inner">
		<ul class="side-nav-menu scrollable">
			<li class="nav-item dropdown <% if (header === 'dashboard') { %>open<% } %>">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-dashboard"></i>
					</span>
					<span class="title">لوحة القيادة</span>
					<span class="arrow">
						<i class="arrow-icon"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li class="navItem">
						<a href="/monthly_profit_cost">الإيرادات</a>
					</li>
				</ul>
			</li>
			<li class="nav-item dropdown <% if (header === 'management') { %>open<% } %>">
				<a class="dropdown-toggle" href="javascript:void(0);">
					<span class="icon-holder">
						<i class="anticon anticon-appstore"></i>
					</span>
					<span class="title">الإدارة</span>
					<span class="arrow">
						<i class="arrow-icon"></i>
					</span>
				</a>
				<ul class="dropdown-menu">
					<li class="navItem">
						<a href="/customers">العملاء</a>
					</li>
					<li class="navItem">
						<a href="/products">المنتجات</a>
					</li>
					<li class="navItem">
						<a href="/categories">التصنيفات</a>
					</li>
					<li class="navItem">
						<a href="/garageItems">عناصر الكراج</a>
					</li>
					<li class="navItem">
						<a href="/orders">الطلبات</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
