<% layout('layouts/boilerplate')%>
<div>
    <div>
        <a href="/customers">customers</a>
        <a href="/products">products</a>
        <a href="/garageItems">garageItems</a>
        <a href="/categories">categories</a>
        <a href="/orders">orders</a>
        <a href="/monthly_profit_cost">Revenue</a>
    </div>
</div>