<% layout('layouts/boilerplate')%>
<div>
    <div>
        <a href="/customers">customers</a>
        <a href="/products">products</a>
        <a href="/customers">customers</a>
        <a href="/customers">customers</a>
    </div>
</div>